@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500;700;900&display=swap");

@media (min-width: 1440px) {
  .third-container {
    width: 300px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

:root {
  /* Colors*/
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  /* Neutral */
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

* {
  /* All selector */
  margin: 0;
  padding: 0;
  border: 1px;
  box-sizing: border-box; /* better to use as deafault */
}

body {
  background-image: url(images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-color: var(--Pale-blue);
  font-family: "Red Hat Display";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 375px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden; /* top corners gone be bordeer-radius as well */
  margin: auto;
  padding: 0px;
  margin: 50px auto; /* 50px is for top and buttom, auto is for right and left */
}

.title {
  color: var(--dark-blue);
  text-align: center;
  margin: auto;
  font-family: Red Hat Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.illustration-img {
  width: 100%;
}

.container {
  padding: 30px;
}

.container > * {
  /* all of the chirdren in container will get wollowing properties  */
  margin: 13px 0;
}

.order-desc {
  color: #717fa6;
  text-align: center;
  font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
}

.plan-container {
  width: 354px;
  height: 98px;
  flex-shrink: 0;

  font-size: 16px;
  background-color: var(--Very-pale-blue);
  border-radius: 12px;
  display: flex; /* to arrange on horizont */
  flex-direction: row;
  justify-content: space-between; /* space between items  */
  align-items: center;
  padding: 25px;
}

.plan-container a {
  color: var(--Bright-blue);
  font-size: 13px;
  font-weight: 700;
}

.plan-container a:hover {
  opacity: 0.8;
  text-decoration: none; /* no underline as an decoration after mouse hover on it */
}

.plan-container strong {
  color: var(--Dark-blue);
}

.plan-desc p {
  color: #717fa6;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

button {
  width: 100%;
  border: 10px;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 12px;
  cursor: pointer;
}
.proceed-btn {
  background-color: var(--Bright-blue);
  padding: 1rem 0;
  color: aliceblue;
  box-shadow: 0 20px 30px -8px rgb(197 189 245); /* top right buttom left */
}

.proceed-btn:hover {
  opacity: 0.8;
}

.cancel-btn {
  background-color: white;
  color: var(--Desaturated-blue); /* text color */
  box-shadow: 0 20px 30px -8px rgb(197 189 245);
}

.cancel-btn:hover {
  color: black;
}

.attribution {
  padding-top: 10px;
}

/* % ჯობია გამოვიყენო, და ფლექს უმჯობესია  */

@media screen and (min-width: 768px) {
  .card {
    width: 1000px;
    width: 450px;
    height: 697px;
    top: 102px;
    left: 495px;
  }
}

@media screen and (min-width: 1400px) {
  .card {
    width: 1000px;
    width: 450px;
    height: 697px;
    top: 102px;
    left: 495px;
  }
}
